- if collections.any?
  %ul.list-collection{:class => local_assigns[:extra_css_class]}
    - collections.each do |collection|
      - next unless can?(:read, collection)
      - # OPTIMIZE
      - wallpapers = collection.wallpapers.accessible_by(current_ability, :read).where.not(thumbnail_image_uid: nil).limit(4)
      - wallpapers = WallpapersDecorator.new(wallpapers, context: { user: current_user })
      - next if wallpapers.empty?
      %li{:data => {:collection_id => collection.id}}
        .media
          = link_to collection, class: 'media-object' do
            = image_tag wallpapers.shift.thumbnail_image_url, width: 250, height: 188
            .row-collection
              - wallpapers.each do |wallpaper|
                = image_tag wallpaper.thumbnail_image.thumb('80x80#').url, width: 80, height: 80
              - (3 - wallpapers.size).times do
                .placeholder
          .media-body
            %h5.media-heading= collection.name
            .pull-right.text-muted
              %span.glyphicon.glyphicon-eye-open
              = collection.impressions_count
            = link_to collection.user do
              = image_tag gravatar_url(collection.user, 20), alt: collection.user.username
              = username_tag collection.user
  - if collections.respond_to? :total_pages
    = link_to_next_page collections, 'Next Page', class: 'btn btn-block btn-default btn-lg', params: params

- else
  %h2.text-center No search results found :(