%h1 Listing collections

%table
  %tr
    %th User
    %th Name
    %th Public
    %th Ancestry
    %th Position
    %th
    %th
    %th

  - @collections.each do |collection|
    %tr
      %td= collection.user
      %td= collection.name
      %td= collection.public
      %td= collection.ancestry
      %td= collection.position
      %td= link_to 'Show', collection
      %td= link_to 'Edit', edit_collection_path(collection)
      %td= link_to 'Destroy', collection, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Collection', new_collection_path
