- title [@collection.user.username, @collection.name]
.page-header
  %h2= @collection.name
  .media.media-user
    = link_to @collection.user, class: 'pull-left' do
      = image_tag gravatar_url(@collection.user, 20), alt: @collection.user.username, class: 'media-object'
    = link_to_user @collection.user
  %hr/
  %ul.list-inline
    - if @collection.user == current_user
      %li= link_to 'Edit collection', edit_account_collection_path(@collection)
    %li= pluralize @collection.wallpapers.size, 'wallpaper'
    %li= pluralize @collection.impressions_count, 'view'

= render 'wallpapers/list', wallpapers: @wallpapers, current_user_favourites: @current_user_favourites