- title [@group.name, 'Forums', @forum.name, @forum_topic.title]

.page-header
  .pull-right
    - if can? :moderate, @forum_topic
      .btn-group
        %button{:type => 'button', :class => 'btn btn-default dropdown-toggle', :data => {:toggle => 'dropdown'}}
          %span.glyphicon.glyphicon-wrench
          Moderate topic
        %ul.dropdown-menu.pull-right{:role => 'menu'}
          %li
            - if @forum_topic.pinned?
              = link_to unpin_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-pushpin
                Unpin topic
            - else
              = link_to pin_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-pushpin
                Pin topic
          %li
            - if @forum_topic.locked?
              = link_to unlock_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-lock
                Unlock topic
            - else
              = link_to lock_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-lock
                Lock topic
          %li
            - if @forum_topic.hidden?
              = link_to unhide_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-eye-close
                Unhide topic
            - else
              = link_to hide_forum_topic_path(@forum_topic), method: :patch do
                %span.glyphicon.glyphicon-eye-open
                Hide topic
          - if can? :update, @forum_topic
            %li
              = link_to edit_forum_topic_path(@forum_topic) do
                %span.glyphicon.glyphicon-pencil
                Edit topic
          %li
            = link_to @forum_topic, data: { method: :destroy, confirm: 'Are you sure?' } do
              %span.glyphicon.glyphicon-remove
              Delete topic
    - if can? :reply, @forum_topic
      = link_to new_forum_topic_comment_path(@group, @forum), class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        New reply
  %ol.breadcrumb
    %li= link_to 'Forums', group_forums_path(@group)
    %li= link_to @forum.name, [@group, @forum]
.panel.panel-default.panel-forum-topic
  .panel-body
    %h2.no-top-margin
      = @forum_topic.title
      - if @forum_topic.pinned?
        %small
          %span.label.label-primary Pinned
      - if @forum_topic.locked?
        %small
          %span.label.label-danger Locked
      - if @forum_topic.hidden?
        %small
          %span.label.label-warning Hidden
    %hr/
    .row
      .col-sm-2
        = link_to @forum_topic.user do
          = image_tag gravatar_url(@forum_topic.user, 50), alt: @forum_topic.user.username, width: 50, height: 50
        %h4= link_to_user @forum_topic.user
        %h5= @group.title_for(@forum_topic.user) || role_name_for(@forum_topic.user)
      .col-sm-10
        %ul.list-inline.pull-right
          - if can? :update, @forum_topic
            %li
              %small= link_to 'Edit', edit_forum_topic_path(@forum_topic)
          %li
            %small= link_to 'Report', new_forum_topic_report_path(@forum_topic)
        = @forum_topic.cooked_content
        %p.text-muted
          %small
            #{time_tag @forum_topic.created_at, time_ago_in_words(@forum_topic.created_at), title: @forum_topic.created_at} ago
            - if @forum_topic.created_at != @forum_topic.updated_at
              &middot; updated #{time_tag @forum_topic.updated_at, time_ago_in_words(@forum_topic.updated_at), title: @forum_topic.updated_at} ago

.text-center= paginate @comments

.panel.panel-default
  = render partial: 'comments/forum_topic_comment', collection: @comments, as: :comment

.text-center= paginate @comments

- if can? :reply, @forum_topic
  = simple_form_for :comment, url: forum_topic_comments_path(@forum_topic), data: { provide: 'comments' } do |f|
    = f.input :comment, as: :text, label: false
    = f.submit 'Post', class: 'btn btn-primary', data: { disable_with: 'Posting' }
