= simple_form_for([@group, @forum]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :group
    = f.input :name
    = f.input :slug
    = f.input :description
    = f.input :position

  .form-inputs
    = f.input :guest_can_read
    = f.input :guest_can_post
    = f.input :guest_can_reply
    = f.input :member_can_read
    = f.input :member_can_post
    = f.input :member_can_reply

  .form-actions
    = f.button :submit
