.panel-body{:data => {:comment_id => comment.id}}
  .row
    .col-sm-2
      = link_to comment.user do
        = image_tag user_avatar_url(comment.user, 50), alt: comment.user.username, width: 50, height: 50
      %h4= link_to_user comment.user
      %h5= @group.title_for(comment.user) || role_name_for(comment.user)
    .col-sm-10
      %ul.list-inline.pull-right
        - if can? :update, comment
          %li
            %small= link_to 'Edit', edit_comment_path(comment)
        %li
          %small= link_to 'Report', new_comment_report_path(comment)
      = comment.cooked_comment
      %p.text-muted
        %small
          #{time_tag comment.created_at, time_ago_in_words(comment.created_at), title: comment.created_at} ago
          - if comment.created_at != comment.updated_at
            &middot; updated #{time_tag comment.updated_at, time_ago_in_words(comment.updated_at), title: comment.updated_at} ago
