%li{:data => {:comment_id => comment.id, :username => comment.user.username}}
  .row
    .col-sm-2
      = link_to comment.user do
        = image_tag gravatar_url(comment.user, 30), alt: comment.user.username, class: 'media-object'
    .col-sm-10
      .comment-meta
        = time_tag comment.created_at, title: comment.created_at, class: 'pull-right' do
          = time_ago_in_words(comment.created_at)
          ago
        .comment-heading
          = link_to_user comment.user
          - if user_signed_in?
            %small.show-when-hover
              - if can? :destroy, comment
                = link_to comment, class: 'destroy-comment', data: { method: :delete, confirm: 'Are you sure?' } do
                  %span.glyphicon.glyphicon-trash
              - if current_user != comment.user
                = link_to reply_comment_path(comment), class: 'reply-comment' do
                  %span.glyphicon.glyphicon-share-alt
      %p= comment.cooked_comment
