.page-header
  %h2= title 'Recent comments'

- if @comments.any?
  - @comments.each do |comment|
    .row
      .col-lg-2
        .media
          - case comment.commentable.class.name
          - when 'User'
            = link_to comment.commentable, class: 'pull-left' do
              = image_tag user_avatar_url(comment.commentable, 50), alt: comment.commentable.username, class: 'media-object'
            .media-body
              %h4.media-heading= link_to_user comment.commentable
          - when 'Wallpaper'
            - next unless can?(:read, comment.commentable) && comment.commentable.thumbnail_image.present?
            - wallpaper = comment.commentable.decorate
            = link_to wallpaper, title: wallpaper.cached_tag_list, target: '_blank' do
              = image_tag wallpaper.thumbnail_image_url, width: 250, height: 188, class: 'img-wallpaper'
      .col-lg-10
        %ul.list-unstyled.list-comment= render comment
        = link_to comment.commentable, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-comment
          Post comment
    %hr/
  = paginate @comments
- else
  %p No comments yet.