%div{:data => {:action => 'favourite', :'wallpaper-id' => wallpaper.id}}
  .row
    .col-sm-4
      - if favourite.present?
        = link_to wallpaper_favourite_path(wallpaper), class: 'btn btn-info', data: { method: :delete, remote: true, disable_with: '&hellip;' } do
          %span.glyphicon.glyphicon-star
          = wallpaper.favourites.count
      - else
        = link_to wallpaper_favourite_path(wallpaper), class: 'btn btn-default', data: { method: :post, remote: true, disable_with: '&hellip;' } do
          %span.glyphicon.glyphicon-star-empty
          = wallpaper.favourites.count
    - if favourite.present?
      .col-sm-8
        = simple_form_for(favourite, url: wallpaper_favourite_path(wallpaper), data: { method: :patch, remote: true, action: 'change-collection' }) do |f|
          - f.association :collection, label: false, collection: current_user.collections, include_blank: 'No Collection'