= simple_form_for(@wallpaper) do |f|
  = f.error_notification

  .form-inputs
    = f.input :purity
    = f.input :image, as: :file unless @wallpaper.persisted?
    .form-group
      = f.label :tag_list
      = f.text_field :tag_list, class: 'form-control', data: { prefetch_path: api_v1_tags_path }
    = f.input :image_gravity, hint: 'Thumbnails will cropped to size. Therefore, please select the best anchor point to perform this operation.'

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-lg'
