= simple_form_for(@wallpaper) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image, as: :file unless @wallpaper.persisted?
    = f.input :source, hint: 'Enter URL or Artist'
    - unless @wallpaper.purity_locked?
      = f.input :purity
    .form-group
      = f.label :tag_list, label: 'Tags'
      = f.hidden_field :tag_list
      %div
        %span.tags-container
        = text_field_tag :tag, nil, class: 'form-control', autocomplete: 'off', data: { provide: 'tag_editor', target: '#wallpaper_tag_list', prefetch: api_v1_tags_path }
    = f.input :image_gravity, label: 'Crop position'

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-lg'
