= simple_form_for(@wallpaper) do |f|
  = f.error_notification

  .form-inputs
    = f.input :purity
    = f.input :image, as: :file unless @wallpaper.persisted?
    = f.input :tag_list, hint: 'Separated by commas'

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-lg'
