= simple_form_for(@wallpaper) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image, as: :file unless @wallpaper.persisted?
    = f.input :source, hint: 'Enter URL or Artist'
    - unless @wallpaper.purity_locked?
      = f.input :purity
    .form-group
      = f.label :tag_list, label: 'Tags'
      = f.text_field :tag_list, class: 'form-control', data: { prefetch_path: api_v1_tags_path }
    = f.input :image_gravity, label: 'Crop position'

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-lg'
