- if wallpapers.any?
  %ul.list-wallpaper
    - wallpapers.each do |wallpaper|
      %li{:class => "purity-#{wallpaper.purity}", :data => {:wallpaper_id => wallpaper.id}}
        = link_to wallpaper do
          = image_tag wallpaper.thumbnail_image.url, width: 250, height: 188
        .overlay.overlay-right
          = link_to '#', class: 'btn btn-sm btn-report', data: { action: 'report' } do
            %span.glyphicon.glyphicon-remove.text-danger
        .overlay.overlay-bottom
          %strong= wallpaper.to_resolution_text
          = link_to '#', class: 'btn btn-sm btn-like pull-left', data: { action: 'like' } do
            %span.glyphicon.glyphicon-thumbs-up
            = wallpaper.favourites.size
          = link_to '#', class: 'btn btn-sm btn-collect pull-right', data: { action: 'collect' } do
            %span.glyphicon.glyphicon-folder-open
            = wallpaper.favourites.size

  - if wallpapers.respond_to? :total_pages
    = link_to_next_page wallpapers, 'Next Page', class: 'btn btn-block btn-default btn-lg', params: params

- else
  %br/
  %br/
  %h2.text-center No search results found :(