- if wallpapers.any?
  %ul.list-wallpaper{:class => local_assigns[:extra_css_class]}
    - wallpapers.each do |wallpaper|
      - next unless can?(:read, wallpaper) && wallpaper.thumbnail_image.present?
      %li{:class => "purity-#{wallpaper.purity}", :data => {:wallpaper_id => wallpaper.id}}
        = link_to wallpaper, title: wallpaper.cached_tag_list, target: '_blank' do
          = image_tag nil, width: 250, height: 188, class: 'img-wallpaper lazy', data: { src: wallpaper.thumbnail_image.url }
        .overlay.overlay-right
          = link_to '#', class: 'btn btn-sm btn-report', data: { action: 'report' } do
            %span.glyphicon.glyphicon-remove.text-danger
        .overlay.overlay-bottom
          %strong= wallpaper.resolution
          = link_to toggle_wallpaper_favourite_path(wallpaper, format: :json), class: "btn btn-sm btn-like pull-left #{'btn-success' if wallpaper.context[:favourited]}", method: :post, remote: true, data: { action: 'like' } do
            %span.glyphicon.glyphicon-thumbs-up
            %span.count= wallpaper.favourites_count
          .btn.btn-sm.pull-right
            %span.glyphicon.glyphicon-eye-open
            = wallpaper.impressions_count
          -# = link_to '#', class: 'btn btn-sm btn-collect pull-right', data: { action: 'collect' } do
          -#   %span.glyphicon.glyphicon-folder-open
          -#   = wallpaper.favourites.size

  - if wallpapers.respond_to? :total_pages
    = link_to_next_page wallpapers, 'Next Page', class: 'btn btn-block btn-default btn-lg', params: params

- else
  %br/
  %br/
  %h2.text-center No search results found :(