%table.table
  %thead
    %tr
      %th Revision #
      %th User
      %th Date/Time
      %th Event
      %th Purity
      %th Tags
  %tbody
    - @wallpaper.versions.order(created_at: :desc).each do |version|
      - wallpaper = version.reify
      - user = User.where(id: version.whodunnit).first
      %tr
        %td= version.index
        %td
          - if user.present?
            = link_to user.username, user
        %td= version.created_at
        %td= version.event.humanize
        %td= wallpaper.try(:purity_text)
        %td= wallpaper.try(:cached_tag_list)