.well
  %h5 Tags
  %ul.list-inline.list-facet
    - @wallpapers.facets['tags']['terms'].each do |facet|
      - tags = search_params[:tags] || []
      - term = facet['term']
      - count = facet['count']
      %li
        - if search_params[:tags].is_a?(Array) && search_params[:tags].include?(term)
          = link_to wallpapers_path(search_params.merge(tags: (tags - [term]))), class: 'btn btn-sm btn-success' do
            %span.glyphicon.glyphicon-minus
            = term
            %small= count
        - else
          = link_to wallpapers_path(search_params.merge(tags: (tags + [term]))), class: 'btn btn-sm btn-link' do
            %span.glyphicon.glyphicon-plus
            = term
            %small= count

  .row
    .col-lg-2
      %h5 Purity
      %ul.list-inline.list-facet
        - Wallpaper.purity.options.each_entry do |label, value|
          - purity = search_params[:purity] || ['sfw']
          - active = (search_params[:purity].blank? && value == 'sfw') || search_params[:purity].try(:include?, value)
          %li
            - if active
              = link_to label, wallpapers_path(search_params.merge(purity: (purity - [value]))),
                        class: "btn btn-sm btn-#{value} btn-active"
            - else
              = link_to label, wallpapers_path(search_params.merge(purity: (purity + [value]))),
                        class: "btn btn-sm btn-#{value}"

    .col-lg-10
      %h5 Resolution
      .list-facet
        - ScreenResolution.all.each do |screen_resolution|
          - active = [screen_resolution.width.to_s, screen_resolution.height.to_s] == [search_params[:width], search_params[:height]]
          - css_class = active ? 'success' : 'link'
          - if active
            = link_to wallpapers_path(search_params.merge(width: nil, height: nil)), class: "btn btn-sm btn-#{css_class}" do
              = screen_resolution
          - else
            = link_to wallpapers_path(search_params.merge(width: screen_resolution.width, height: screen_resolution.height)), class: "btn btn-sm btn-#{css_class}" do
              = screen_resolution

  %h5 Query string
  = form_tag wallpapers_path(search_params), method: :get do
    .input-group
      = text_field_tag :query, search_params[:query], class: 'form-control input-md', placeholder: 'e.g. width:>1920 height:>1080'
      .input-group-btn
        = submit_tag 'Search', class: 'btn btn-default btn-md'


= render 'list'