.row
  .col-lg-2
    %ul.color-bar
      - @wallpaper.colors.each do |color|
        %li
          = link_to '', wallpapers_path(color: color.hex), style: "background-color: \##{color.hex}"

    %h3 Uploaded by
    %h5= user_tag @wallpaper.user
    %small #{time_ago_in_words @wallpaper.created_at} ago

    %p
      %b Purity:
      = @wallpaper.purity

    = link_to 'Edit', edit_wallpaper_path(@wallpaper)
    \|
    = link_to 'Back', wallpapers_path
  .col-lg-10.col-wallpaper
    = image_tag @wallpaper.image.url, class: 'img-wallpaper state-1'