- title ["\##{@wallpaper.id}", @wallpaper.cached_tag_list].reject &:blank?
- description @wallpaper.cached_tag_list
- keywords @wallpaper.cached_tag_list

- content_for :wallpaper_sidebar_content do
  .panel.panel-transparent
    - if @wallpaper.user.present?
      .panel-body
        .media.media-user
          = link_to @wallpaper.user, class: 'pull-left' do
            = image_tag gravatar_url(@wallpaper.user, 30), alt: @wallpaper.user.username, class: 'media-object'
          .media-body
            %h3.media-heading= link_to_user @wallpaper.user

    .panel-body
      %ul.list-inline
        %li
          %span.glyphicon.glyphicon-calendar
          = time_tag @wallpaper.created_at, @wallpaper.created_at.to_date.to_formatted_s(:long), title: @wallpaper.created_at
        %li
          %span.glyphicon.glyphicon-eye-open
          = @wallpaper.impressions_count
      %ul.list-inline
        %li
          %span.glyphicon.glyphicon-file
          = @wallpaper.resolution
        %li
          %span.glyphicon.glyphicon-flag
          = @wallpaper.purity_text
      - if @wallpaper.source.present?
        %ul.list-inline
          %li
            %span.glyphicon.glyphicon-question-sign
            = @wallpaper.cooked_source

    - if user_signed_in?
      .panel-body
        .btn-group.btn-group-justified
          = link_to '#', class: 'btn btn-default' do
            %span.glyphicon.glyphicon-star-empty
            Like
          = link_to '#', class: 'btn btn-default' do
            %span.glyphicon.glyphicon-folder-open
            Collect
          .btn-group
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              %span.glyphicon.glyphicon-list
            %ul.dropdown-menu.pull-right{:role => 'menu'}
              - if user_signed_in?
                - if can? :update, @wallpaper
                  %li
                    = link_to edit_wallpaper_path(@wallpaper) do
                      %span.glyphicon.glyphicon-pencil
                      Edit metadata
                - if can? :destroy, @wallpaper
                  %li
                    = link_to @wallpaper, data: { method: :delete, confirm: 'Are you sure?' } do
                      %span.glyphicon.glyphicon-remove
                      Delete wallpaper
                %li
                  = link_to new_wallpaper_report_path(@wallpaper) do
                    %span.glyphicon.glyphicon-flag
                    Report
                - if can? :update, @wallpaper
                  %li
                    = link_to history_wallpaper_path(@wallpaper) do
                      %span.glyphicon.glyphicon-list-alt
                      Edit history
                - if current_user.admin?
                  %li
                    = link_to admin_wallpaper_path(@wallpaper) do
                      %span.glyphicon.glyphicon-fire
                      Administer
      .panel-body
        = render 'favourite_button', wallpaper: @wallpaper, favourite: current_user.favourites.where(wallpaper: @wallpaper.object).first

    - if false
      - cache ['show', @wallpaper, 'tag_list'] do
        - if @wallpaper.tag_list.any?
          .panel-body
            %ul.list-tag
              - @wallpaper.tag_list.each do |tag|
                %li
                  = link_to wallpapers_path(tags: [tag]) do
                    = tag

    - if false
      - cache ['show', @wallpaper, 'color_list'] do
        - if @wallpaper.wallpaper_colors.any?
          .panel-body.text-center
            %ul.list-color
              - @wallpaper.wallpaper_colors.includes(:color).each do |color|
                %li= link_to '', wallpapers_path(search_params.merge(colors: [color.hex])), style: "background-color: \##{color.hex}"

    - if false
      .panel-body
        = @wallpaper.resolution_select_tag

    - if false
      .panel-body
        .btn-group.btn-group-justified.btn-group-purity
          - Wallpaper.purity.options.each_entry do |label, value|
            = link_to label, update_purity_wallpaper_path(@wallpaper, value),
                      class: "btn btn-sm ladda-button btn-#{value} #{'btn-active' if @wallpaper.purity == value} #{'disabled' if @wallpaper.purity_locked?}",
                      data: { :method => :patch,
                              :remote => true,
                              :type => 'json',
                              :style => 'zoom-in',
                              :'action' => 'change-purity',
                              :'wallpaper-id' => @wallpaper.id,
                              :purity => value }

    - if user_signed_in?
      .panel-body
        = simple_form_for :comment, url: wallpaper_comments_path(@wallpaper), remote: true, data: { provide: 'comments' } do |f|
          .row
            .col-sm-2
              = image_tag gravatar_url(@wallpaper.user, 30), alt: @wallpaper.user.username, class: 'media-object'
            .col-sm-10
              = f.input :comment, as: :text, label: false, placeholder: 'Your comment', input_html: { data: { focus_placeholder: 'Shift+Enter for newline. Enter to post.' } }
      - comments = @wallpaper.comments.includes(:user).recent
      .panel-body.container-comments{:class => ('hide' if comments.empty?)}
        %ul.list-unstyled.list-comment= render partial: 'comments/wallpaper_comment', collection: comments.limit(4), as: :comment
        - if comments.size > 4
          = link_to 'Load all comments', wallpaper_comments_path(@wallpaper), class: 'btn btn-block', remote: true, data: { action: 'load-comments' }

  - @wallpaper.find_related_tags.accessible_by(current_ability, :read).processed.limit(9).in_groups_of(3, false).each do |wallpapers|
    .row
      - wallpapers.each do |wallpaper|
        .col-xs-4
          = link_to wallpaper, class: 'thumbnail' do
            = image_tag wallpaper.thumbnail_image.thumb('80x80#').url, width: 80, height: 80

- content_for :wallpaper_stage_content do
  = image_tag @wallpaper.requested_image_url, width: @wallpaper.requested_image_width, height: @wallpaper.requested_image_height, class: "img-wallpaper img-#{@wallpaper.format} state-1"

- # OPTIMIZE
- content_for :javascript_for_page do
  :javascript
    $(function() {
      var $wallpaperShowContainer = $('.wallpaper-show-container');
      var $commentForm = $('form.comment');
      var $commentTextarea = $commentForm.find('textarea#comment_comment');
      var hideSidebarPreference = $.cookie('wallpaper_show:hide_sidebar');
      if (hideSidebarPreference) {
        $wallpaperShowContainer.removeClass('has-sidebar');
      }
      $('.toggle-sidebar-btn').click(function() {
        $wallpaperShowContainer.toggleClass('has-sidebar');
        if ($wallpaperShowContainer.is('.has-sidebar')) {
          $.removeCookie('wallpaper_show:hide_sidebar');
        } else {
          $.cookie('wallpaper_show:hide_sidebar', true);
        }
      });
      $('.list-comment').on('click', '.reply-comment', function(e) {
        e.preventDefault();
        var $this = $(this);
        var replyToUsername = $this.closest('[data-username]').data('username');
        $commentTextarea.focus();
        $commentTextarea.val($commentTextarea.val() + '@' + replyToUsername + ' ');
      });
      $commentForm.on('ajax:beforeSend', function() {
        $commentTextarea.prop('disabled', true);
      })
      $commentForm.on('ajax:success', function() {
        $commentTextarea.val('');
      });
      $commentForm.on('ajax:complete', function() {
        $commentTextarea.prop('disabled', false);
      });
      $commentTextarea.data('original-placeholder', $commentTextarea.attr('placeholder'));
      $commentTextarea.focusin(function() {
        $commentTextarea.attr('placeholder', $commentTextarea.data('focus-placeholder'));
      });
      $commentTextarea.focusout(function() {
        $commentTextarea.attr('placeholder', $commentTextarea.data('original-placeholder'));
      });
      $commentTextarea.keydown(function(e) {
        if (e.keyCode == 13 && ! e.shiftKey) {
          e.preventDefault();
          $commentForm.submit();
        }
      });
    });
