.page-header
  .pull-right
    - if can? :create, Group
      = link_to 'Create group', new_group_path, class: 'btn btn-md btn-primary'
  %h1 Groups

.row
  .col-lg-9
    .page-subheader
      %ul.nav.nav-tabs
        %li.disabled
          %a{:href => '#'} Order by:
        = active_link_to 'Recency',  groups_path,                               wrap_tag: :li, active: @order_by.blank?
        = active_link_to 'Newest groups',  groups_path(order: :newest),         wrap_tag: :li, active: @order_by == 'newest'
        = active_link_to 'Alphabetically', groups_path(order: :alphabetically), wrap_tag: :li, active: @order_by == 'alphabetically'
    = render partial: 'group', collection: @groups
    .text-center= paginate @groups
  .col-lg-3
    .page-subheader
      %h3 Official groups
    = render partial: 'group', collection: @official_groups
