- title @group.name

.row
  .col-lg-9
    %p= markdown @group.description
  .col-lg-3
    - if @officers.any?
      .panel.panel-default
        .panel-heading Group officers
        .panel-body
          - @officers.each do |officer|
            .media
              = link_to officer.user, class: 'pull-left' do
                = image_tag user_avatar_url(officer.user, 40), alt: officer.user.username, width: 40, height: 40, class: 'media-object'
              .media-body
                %h4.media-heading
                  = link_to_user officer.user
                  %small= @group.title_for(officer)