%h1= username_tag @user
%h4= role_name_for @user

- if @collections.any?
  %h2
    Collections
    %small= @collections.size
  %ul
    - @collections.each do |collection|
      %li
        = link_to collection.name, collection
        %small (#{collection.wallpapers.accessible_by(current_ability, :read).size})

%h2
  Uploads
  %small= @wallpapers.size

- cache @wallpapers do
  = render 'wallpapers/list', wallpapers: @wallpapers