%h1= username_tag @user
%h4= role_name_for @user

- if @collections.any?
  %h2
    Collections
    %small= @collections.size
  %ul
    - @collections.each do |collection|
      %li
        = link_to collection.name, collection
        %small (#{collection.wallpapers.accessible_by(current_ability, :index).size})

- if @favourite_wallpapers.any?
  %h2
    Lastest Favourites
    %small= @favourite_wallpapers.size
  = render partial: 'wallpapers/list', locals: { wallpapers: @favourite_wallpapers }

%h2
  Uploads
  %small= @wallpapers.size

= render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }