- title @user.username
%h1
  = username_tag @user
  %small= role_name_for @user

- if @collections.any?
  %h3
    Collections
    %small= @collections.size
  = render partial: 'collections/list', locals: { collections: @collections }

- if @user.wallpapers.any?
  %h3
    Recent uploads
    %small= @user.wallpapers.size
  = render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers, current_user_favourites: @current_user_favourites }
  - if @user.wallpapers.size > @wallpapers.size
    .text-right
      = link_to wallpapers_path(q: "user:#{@user.username}"), class: 'btn btn-default btn-md' do
        More
        %span.glyphicon.glyphicon-chevron-right

- if @favourite_wallpapers.any?
  %h3
    Recent likes
  = render partial: 'wallpapers/list', locals: { wallpapers: @favourite_wallpapers, current_user_favourites: @current_user_favourites }
