%h1
  = username_tag @user
  %small= role_name_for @user

- if @collections.any?
  %h3
    Uploads
    %small= @wallpapers.size
  = render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }
  = link_to wallpapers_path(q: "user:#{@user.username}"), class: 'btn btn-default btn-md' do
    More
    %span.glyphicon.glyphicon-chevron-right

  %h3
    Collections
    %small= @collections.size
  = render partial: 'collections/list', locals: {collections: @collections }

- if @favourite_wallpapers.any?
  %h3
    Recent likes
    %small= @favourite_wallpapers.size
  = render partial: 'wallpapers/list', locals: { wallpapers: @favourite_wallpapers }
