%p#notice= notice

%p
  %b User:
  = @collection.user
%p
  %b Name:
  = @collection.name
%p
  %b Public:
  = @collection.public
%p
  %b Ancestry:
  = @collection.ancestry
%p
  %b Position:
  = @collection.position

= link_to 'Edit', edit_account_collection_path(@collection)
\|
= link_to 'Back', account_collections_path