- case @reportable.class.name
- when 'Comment'
  %h1 Comment
  .well.well-sm
    %h5
      = link_to_user @reportable.user
      %small #{time_ago_in_words @reportable.created_at} ago
    %p= @reportable.comment

- else
  %h1= @reportable

%h3 New report
%p Could you tell to us what is wrong with this #{@reportable.class.name.humanize.downcase}?
= render 'form'
