!!!
%html
  %head
    %title Wallgig
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    /[if lt IE 9]
      %script{src: 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{src: 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}
    = csrf_meta_tags
  %body{:class => "#{controller_name.parameterize} #{action_name.parameterize}"}
    %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container
        = link_to 'Wallgig', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li= link_to 'Upload', new_wallpaper_path
          -# %li= link_to 'Random', '#'
          -# %li= link_to 'Toplist', '#'
          -# %li= link_to 'Comments', '#'
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.username, edit_user_registration_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign Up', new_user_registration_path
            %li= link_to 'Sign In', new_user_session_path
    .container
      = bootstrap_flash
      = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true, "data-turbolinks-eval" => false