- myself = user_signed_in? && current_user == @user
- content_for :pre_container do
  %header.user-profile-header
    .user-profile-cover{:class => ('has-cover' if @user.profile.cover_wallpaper.present?), :style => @user.profile.cover_style, :data => {:spy => 'affix', offset_top: 300}}
      .user-profile-meta
        .container
          .pull-right
            - if myself
              - if @user.profile.cover_wallpaper.present?
                .btn-group
                  %button{:type => 'button', :class => 'btn btn-lg btn-info dropdown-toggle', :data => {:toggle => 'dropdown'}}
                    %span.glyphicon.glyphicon-picture
                    Edit cover
                  %ul.dropdown-menu.pull-right{:role => 'menu'}
                    %li
                      = link_to '#' do
                        %span.glyphicon.glyphicon-move
                        Reposition
                    %li
                      = link_to remove_profile_cover_account_profile_path, data: { method: :delete, confirm: 'Are you sure?' } do
                        %span.glyphicon.glyphicon-remove
                        Remove cover
            - else
              = link_to '#', class: 'btn btn-lg btn-primary' do
                %span.glyphicon.glyphicon-plus
                Follow
              = link_to '#', class: 'btn btn-lg btn-primary' do
                %span.glyphicon.glyphicon-plus
                Follow
          .media.media-user
            - if myself
              = link_to '#', class: 'pull-left' do
                = image_tag gravatar_url(@user, 120), alt: @user.username, class: 'media-object', width: 120, height: 120
            - else
              = image_tag gravatar_url(@user, 120), alt: @user.username, class: 'media-object pull-left', width: 120, height: 120
            .media-body
              %h2.media-heading
                = username_tag @user
                %small= role_name_for @user
      %nav.navbar.navbar-user{:role => 'navigation'}
        .container
          %ul.nav.navbar-nav
            = active_link_to 'Profile', @user, active: [['users'], ['show']], wrap_tag: :li
            = active_link_to 'Wallpapers', wallpapers_path(q: "user:#{@user.username}"), wrap_tag: :li
            = active_link_to 'Collections', user_collections_path(@user), wrap_tag: :li
            = active_link_to 'Favourites', user_favourites_path(@user), wrap_tag: :li
            = active_link_to 'Followers', '#', wrap_tag: :li
            = active_link_to 'Following', '#', wrap_tag: :li

= render template: 'layouts/application'